@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {

  --fnt-logo: "Pacifico", sans-serif;
  --fnt-headings: "Roboto Condensed", sans-serif;
  --fnt-body: "Roboto Condensed", sans-serif;

  --clr-primary: hsl(107, 35%, 19%);
  --clr-primary-light: hsl(107, 31%, 42%);
  --clr-primary-lighter: hsl(107, 31%, 70%);
  --clr-primary-lightest: hsl(76, 27%, 89%);
  --clr-primary-dark: hsl(106, 26%, 16%);
  --clr-primary-darker: hsl(120, 2%, 17%);

  --clr-white: hsl(60, 33%, 98%);
  --clr-light-gray: hsl(0, 0%, 75%);
  --clr-lighter-gray: hsl(0, 0%, 90%);
  --clr-gray: hsl(120, 1%, 29%);
  --clr-dark-gray: hsl(180, 1%, 18%);
  --clr-black: hsl(0, 0%, 9%);

  --clr-wrong: var(--clr-light-gray);
  --clr-position: hsl(50, 77%, 47%);
  --clr-correct: hsl(129, 59%, 28%);
}

a, a:active {
  color: var(--clr-primary-light);
  text-decoration: none;
}

a:hover {
  color: var(--clr-primary);
}

.dark a {
  color: var(--clr-primary-lightest);
}

.dark a:hover {
  color: var(--clr-primary-lighter);
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* DOM */

html {
  font-family: var(--fnt-body);
  font-size: 18px;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  min-height: 100dvh;
  background-color: var(--clr-white);
  color: var(--clr-primary-darker);
  position: relative;
  background: url(./ricepaper2.png) repeat;
  background-blend-mode: lighten;
}

body.dark {
  background-color: var(--clr-primary-darker);
  color: var(--clr-);
}

/* Scaffolding */

#game.container {
  max-width: 480px;
  padding: 1rem;
  gap: 1rem;
  justify-content: center;
  height: 100dvh;
}

.column {
  display: flex;
  flex-direction: column;
  gap: .25rem;
  justify-content: space-between;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  gap: .25rem;
}

/* Header section */

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  padding: .85rem 1.35rem;
  background-color: var(--clr-primary-darker);
  color: var(--clr-primary-lightest);
}

.logo {
  font-size: 1.15rem;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 700;
}


/* Game section */

#game {
  flex-grow: 1;
}

/* Guess section */

#guesses {
  flex: 1;
  justify-content: center;
}

.guess.current .char {
  border: 3px solid;
  animation: wiggle 5s infinite;
}

@keyframes wiggle {
  0% {
    transform: translateY(0px);
  }
  6% {
    transform: translateY(1px);
  }
  8% {
    transform: translateY(-3px);
  }
  10% {
    transform: translateY(0px);
  }
  12% {
    transform: translateY(-3px);
  }
  14% {
    transform: translateY(0px);
  }
}

.guess .char {
  border: 2px solid var(--clr-light-gray);
  background-color: var(--clr-white);
  width: 3.35rem;
  border-radius: 5px;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 2rem;  
}

.char.wrong {
  background-color: var(--clr-wrong) !important;
  border-color: var(--clr-wrong) !important;
  color: var(--clr-white);
}

.char.position {
  background-color: var(--clr-position) !important;
  border-color: var(--clr-position) !important;
  color: var(--clr-white);
}

.char.correct {
  background-color: var(--clr-correct) !important;
  border-color: var(--clr-correct) !important;
  color: var(--clr-white);
}

/* Keyboard section */

#keyboard {
  flex: 0;
  margin-bottom: 1rem;
  position: relative;
}

.key {
  text-transform: uppercase;
  font-size: 1.1rem;
  font-weight: 600;
  background-color: var(--clr-lighter-gray);
  padding: .65rem .35rem;
  cursor: pointer;
  width: 1.7rem;
  text-align: center;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .1s;
}

.key:hover {
  background-color: var(--clr-light-gray);
}

.key.enter, .key.delete, .key.enter:active, .key.delete:active  {
  background-color: var(--clr-gray);
  color: var(--clr-white);
  padding-left: .65rem;
  padding-right: .65rem;
  font-size: .6rem;
}

.key.enter:hover, .key.delete:hover {
  background-color: var(--clr-dark-gray);
}

.key.delete {
  font-size: 1rem;
  padding-left: 1rem;
  padding-right: 1.1rem;
}

.key.enter {
  padding-left: .65rem;
  padding-right: .65rem;
  letter-spacing: 1px;
  width: fit-content;
}

.key.used {
  background-color: var(--clr-wrong) !important;
  border-color: var(--clr-wrong);
  color: var(--clr-white);
}

/* Notification */

#notif {
  position: absolute;
  background-color: var(--clr-primary);
  color: var(--clr-white);
  padding: 2rem 3rem;
  border-radius: .5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  top: 50%;
  transform: translateY(-50%);
}

#notif.hide {
  display: none;
}

#notif p {
  text-align: center;
}

#notif button {
  border: none;
  background-color: var(--clr-primary-lightest);
  padding: 1rem 3rem 1rem 4rem;
  border-radius: .5rem;
  text-transform: uppercase;
  font-weight: 700;
  color: var(--clr-primary);
  letter-spacing: 1px;
  transition: 200ms ease;
  position: relative;
}

#notif button:hover {
  background-color: var(--clr-primary-light);
  color: var(--clr-white);
}

#notif button::before {
  content: url('./refresh.svg');
  position: absolute;
  left: 2.25rem;
  top: 53%;
  transform: translateY(-50%);
  color: var(--clr-primary-light);
  filter: opacity(.7);
}